<!DOCTYPE html>
<html lang="en">
	<body>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div style='font-family: Montserrat, Arial; margin: 10px;'>
		<img src="https://forthgreen.s3.us-east-2.amazonaws.com/assets/logo.png" style='height: 39px; width: 228px' alt="logo">
		<div style="font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.13; letter-spacing: 0.11px; color: #1e2526; margin-top: 40px">
			Thanks for joining Forthgreen!
		</div>
		<div style="font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.13; letter-spacing: 0.11px; color: #1e2526; margin-top: 20px; margin-bottom: 32px">
			Before you start creating your profile we just need to confirm that this is you.
		</div>
		<a href={{link}} style="color: black;"><button style='width: 180px; height: 56px; border-radius: 4px; background-color: #2bd695; border-color: #2bd695; color: black; font-weight: bold;'>VERIFY EMAIL</button></a>
		<div style='font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.63; letter-spacing: 0.11px; color: #1e2526; margin-top: 32px;'>
			Thanks,
		</div>
		<div style='font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.63; letter-spacing: 0.11px; color: #1e2526;'>
			Forthgreen team
		</div>
		<div style="height: 1px; width: 100%; background: #94a5aa; margin-top: 25px; margin-bottom: 25px;"></div>
		<div style='color: #94a5aa; font-size: 14px'>
			Problems with the “Verify email” button? Copy a paste this link the URL below into you web browser:
			<div style='color: #39a0ed;'>
				{{link}}
			</div>
		</div>
	</div></body></html>