<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div style='font-family: Montserrat, Arial; margin: 10px;'>
	<img src="https://forthgreen.s3.us-east-2.amazonaws.com/assets/logo.png" style='height: 39px; width: 228px'>
	<div style="height: 54px; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.13; letter-spacing: 0.11px; color: #1e2526; margin-top: 40px">
		Congratulation, your brands has been verified!
	</div>
	<div style="font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.13; letter-spacing: 0.11px; color: #1e2526;">
		The profile has been uploaded successfully in Forthgreen app, you can go check it!
	</div>
	<a href='https://apps.apple.com/gb/app/forthgreen/id1510316226'>
		<img style='height: 48px; width: 162px; margin-right: 24px; margin-top: 32px;' src='https://forthgreen.s3.us-east-2.amazonaws.com/assets/apple_store.png'>
	</a>
	<a href='https://play.google.com/store/apps/details?id=com.forthgreen.app'>
		<img style='height: 48px; width: 162px;' src='https://forthgreen.s3.us-east-2.amazonaws.com/assets/play_store.png'>
	</a>
	<div style='font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.63; letter-spacing: 0.11px; color: #1e2526; margin-top: 32px;'>
		Thanks,
	</div>
	<div style='font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.63; letter-spacing: 0.11px; color: #1e2526;'>
		Forthgreen team
	</div>
</div>